body,html{
    margin:0px;
    padding:0px;
}
 
 header{
     background-color:000;
        color:white;
        padding:20px;
        border:3px red dotted;

header.site_title{
    font-size:20px;
    font-weight:bold;
    border:1px solid white
    padding:10px 20px 0px 0px
    display:inline-block;
        }
header ul{
    width:40;
    border:1px solid white;
    display:inline-block;
    float:right;
}
footer{
    min-width: 100%;
    padding: 10px 20px;
    background-color: red;
    text-align: right;
    color: white;

        text-align:center
}